In [39]:
from datetime import datetime
from dateutil.parser import parse
import pandas as pd
import spacy, glob, os

In [43]:
nlp = spacy.load('en_core_web_sm', disable=['parser'])
nlp.remove_pipe('ner')
# nlp.remove_pipe('parser')

('ner', <spacy.pipeline.pipes.EntityRecognizer at 0x111e1c048>)

In [32]:
f = open('data/dataset.tsv', 'r')
# docs = pd.DataFrame(f.read())

df1 = pd.DataFrame.from_csv(f, sep='\t')

/Users/mugdhab/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

/Users/mugdhab/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3185: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [33]:
df1.head()

,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,sight_year,report_year
datetime,,,,,,,,,,,,
1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,1949,2004
1955-10-10 17:00:00,chester (uk/england),nu,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667,1955,2008
1956-10-10 21:00:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,1956,2004
1960-10-10 20:00:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,1960,2004
1961-10-10 19:00:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889,1961,2007

In [36]:
df2 = df1[df1["city"]== "houston"]

comments_grouped = []
for i, row in df2[df2["sight_year"]== 2008].sort_values(by="date posted").iterrows():
    comments_grouped.append(row["comments"])

In [48]:
comments_grouped

['Three triangular forms move quickly and in sync before disappearing&#44 planes seemingly chasing it&#33',
 'Bright&#44 light is stationery in the sky&#44 then rapidly falls toward horizon',
 'Fireball plummets to Earth?',
 'one bright light noticed - three light travel together then split to for a perfect triangle.',
 'Saw four circular lights flying quickly in formation and then change formation&#44 there was no sound&#44 helipcopters circled around shortly',
 'Two star-like objects were seen high in the sky both moving in one direction',
 'black slow moving  V shape object over houston s george bush airport',
 'Extremely Bright White object&#44 Just like we saw at the beginning of the year&#44 in Houston&#44 when thousands saw it&#33',
 'Witnessed white floating object hovering and spinning slowly in the sky in Houston&#44 Texas.',
 'I saw a spherical object hovering in the daytime sky that was pinkish in color.',
 'three changing color groups of lights hovering over rooftops',
 'It took this long to find  wedsite  of the probe I saw in story above.',
 '05/29/2008 bule light headed SE. around 23:00 - 23:30',
 'Tonight I and my little girl saw what appeared to be flying orbs of light over Houston. The direction of each craft was had no apparent',
 'Bright White light seen moving across Houston nighttime skies.',
 'Light in the sky changing colors&#44 moving very fast&#44 dancing in one spot',
 'Advanced flying machines in harris county.',
 'They were shaped like geese would fly. We were lying in the back yard watching the stars and it came from south to north. My son said l',
 'Daylight object passes by moon and makes random movements.',
 'Flashing object at the sky of Houston&#44 July 3&#442008.  ((NUFORC Note:  Sighting of Jupiter in the southeastern sky??  PD))',
 'It moved across the sky and all of a sudden it disapeared',
 'If I hadn&#39t ran I&#39ve would&#39ve been abducted..again&#33',
 'Series of tall columns arorned with white lights and alternating on/off from left to right',
 'Flying humanoid in houston?',
 'lit circle travling south to north across sky in 10-15 seconds in houston',
 'Family has had several encounters over years with possible explanations regarding agenda&#44 bovine blood use&#44 and bdellium collection.',
 'Extremely bright&#44 cigar shaped object in the night sky near down town Houston.',
 'UFO PROB/FBI/CIA? 27 AUG 08 I was leaving work around 12:25 pm&#44 27 Aug 08&#44 Ellington Fld&#44 Houston&#44 TX-- I was going home to evacuating']

In [54]:
for comment in comments_grouped:
    doc = nlp(comment)
    for token in doc:
        if token.tag_ in ["JJ","JJR","JJS"]:
            print(token.text)

triangular
bright
light
perfect
circular
like
high
black
slow
Bright
Witnessed
white
spherical
daytime
pinkish
long
little
apparent
Bright
nighttime
fast&#44
Advanced
random
southeastern
sudden
tall
white
humanoid
several
possible
agenda&#44
bovine
bdellium